{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>

<link rel="stylesheet" href="{% static "portfolio/css/reset.css" %}">
<link rel="stylesheet" href="{% static "portfolio/css/style.css" %}"> <!-- Versioning to update caches -->

<script src="{% static "portfolio/js/common.js" %}"></script>

<link rel="apple-touch-icon" sizes="180x180" href="{% static "portfolio/favicon/apple-touch-icon.png" %}">
<link rel="icon" type="image/png" sizes="32x32" href="{% static "portfolio/favicon/favicon-32x32.png" %}">
<link rel="icon" type="image/png" sizes="16x16" href="{% static "portfolio/favicon/favicon-16x16.png" %}">
<link rel="manifest" href="{% static "portfolio/favicon/site.webmanifest" %}">

<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
    <title>Game Project - Hexercise</title>
</head>
<body>
{% include "portfolio/snippets/header.html" %}
<section class="c-project-page">
    <div class="c-project-page__header">
        <h1 class="c-project-page__title">Hexercise</h1>
        <p class="c-project-page__subtitle">Hexercise - Can you dodge the magic?<br>A DAE Game Project (2023)</p>
    </div>
    <div class="c-project-page__content">
        <div class="c-project-page__text">
            <p>
                Hexercise is a game project developed by me and 5 other students as part of our Digital Arts and
                Entertainment
                education at Howest Kortrijk. <br>
            </p>
            <p>
                The game was developped for our client, <a href="https://sportinnovatiecampus.be/">Sport Innovatie
                Campus</a>, who wanted a new variation of game to be
                played in their sports center, where they previously already had single player kinect games.<br>
                The goal for our project was to create a multiplayer, ideally versus game that incentivises movement,
                competition
                and fun.
            </p>
            <p>
                The game is a 1v1 versus game where you cast spells at each other to try and win.
                the casting of spells happens using kinect body trackers<br>
            </p>
            <p>
                I mainly worked on the calibration & cleaning of the kinect input, making sure the input
                is smooth and that the player could be centered in the playfield no matter what the camera
                setup is.<br>
            </p>
        </div>
        <div class="c-project-page__image c-slideshow">
            <svg class="u-fill-available" width="1920px" height="1080px"></svg>
            <img src="{% static 'portfolio/images/hexercise/hexercise_02.jpg' %}" alt="Hexercise">
            <img src="{% static 'portfolio/images/hexercise/hexercise_03.jpg' %}" alt="Hexercise">
            <img src="{% static 'portfolio/images/hexercise/hexercise_04.jpg' %}" alt="Hexercise">
            <img src="{% static 'portfolio/images/hexercise/hexercise_05.jpg' %}" alt="Hexercise">
            <img src="{% static 'portfolio/images/hexercise/hexercise_06.jpg' %}" alt="Hexercise">
            <img src="{% static 'portfolio/images/hexercise/hexercise_07.jpg' %}" alt="Hexercise">
            <img src="{% static 'portfolio/images/hexercise/hexercise_08.jpg' %}" alt="Hexercise">
            <img src="{% static 'portfolio/images/hexercise/hexercise_09.jpg' %}" alt="Hexercise">
        </div>
        <div class="c-project-page__youtube-video">
            <iframe width="1920" height="1080" src="https://youtube.com/embed/Eguoz-ms7z0">
            </iframe>
        </div>
    </div>
</section>
</body>
</html>