{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "portfolio/snippets/common_head.html" %}
    <title>About</title>
</head>
<body>
{% include "portfolio/snippets/header.html" %}

<section class="c-about-page">
    <h1>Ward Dejonckheere</h1>
    <h2>About me</h2>
    <div class="c-about-page__wrapper">
        <img class="c-about-page__profile-pic" src="{% static "portfolio/images/me.webp" %}" alt="Picture of me">
        <p>
            Hey, my name is Ward Dejonckheere and I'm 24 year old student, studying Game Development at Howest Digital
            Arts
            and Entertainment.
            I started this education in 2020, and expected to finish it in June 2024.
            Before starting this education, I studied Multimedia & Communcations Technology,
            during it's course I learned about the game development course at Howest, but decided to first finish the
            current education,
            which i did in June 2020.
        </p>

    </div>

    <h2>Education</h2>
    <ul>
        <li>Howest Digital Arts and Entertainment - Game Development(2020 - ongoing)</li>
        <li>Howest Multimedia & Communications Technology (2017 - 2020)</li>
    </ul>

    <h2>Skills</h2>
    <ul>
        <li>C++</li>
        <li>C#</li>
        <li>Python</li>
        <li>Javascript</li>
        <li>HTML</li>
        <li>CSS</li>

        <li>Unity</li>
        <li>Unreal Engine</li>
        <li>Maya</li>
        <li>Photoshop</li>

        <li>Git</li>
        <li>Linux</li>
    </ul>

    <h2>Languages</h2>
    <ul>
        <li>Dutch (Native)</li>
        <li>English (Fluent)</li>
    </ul>
</section>
</body>
</html>