{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "portfolio/snippets/common_head.html" %}
    <title>Contact</title>
</head>
<body>
{% include "portfolio/snippets/header.html" %}

<section class="c-contact">
    <div class="c-contact__container">
        <h1 class="c-contact__title">Contact</h1>
        <p class="c-contact__text">If you have any questions or would like to work with me, please contact me at <a
                href="mailto:dejonckheere.ward@gmail.com">dejonckheere.ward@gmail.com</a>.</p>
    </div>
    <div class="c-contact__container">
        <h1>Github</h1>
    </div>


</section>

</body>
</html>