{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "portfolio/snippets/common_head.html" %}
    <title>Contact</title>
</head>
<body>
{% include "portfolio/snippets/header.html" %}

<section class="c-contact">
    <div class="c-contact__container">
        <h1 class="c-contact__title">Contact</h1>
        <h2>Email</h2>
        <p class="c-contact__text">If you have any questions or would like to work with me, please contact me at <a
                href="mailto:dejonckheere.ward@gmail.com">dejonckheere.ward@gmail.com</a>.</p>

        <h2>Phone</h2>
        <p class="c-contact__text">+32 498 66 20 95</p>

        <h2>Socials</h2>
        <p class="c-contact__text">You can also find me here</p>
        <div class="c-socials">
            <a href="https://github.com/DejonckheereWard" class="c-socials__icon" target="_blank">
                <img src="{% static 'portfolio/icons/github-mark-white.svg' %}" alt="github icon"></a>
            </a>
            <a href="https://www.linkedin.com/in/ward-dejonckheere/" class="c-socials__icon" target="_blank">
                <img src="{% static 'portfolio/icons/linkedin.png' %}" alt="linkedin icon"></a>
            </a>
        </div>


    </div>


</section>

</body>
</html>