<!-- Main Page of the portfolio website -->
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"/>

    <link rel="stylesheet" href="{% static "portfolio/css/reset.css" %}">
    <link rel="stylesheet" href="{% static "portfolio/css/style.css" %}?v=0"> <!-- Versioning to update caches -->
    <script src="{% static "portfolio/js/common.js" %}?v=0"></script>
    <script src="{% static "portfolio/js/index.js" %}?v=0"></script>
    <title>Portfolio - Ward Dejonckheere</title>
</head>
<body>
<header class="c-header">
    <a href="">
        <h1 class="c-header__title">Ward Dejonckheere</h1>
        <h2 class="c-header__subtitle">Game Developer</h2>
    </a>
    <nav>
        <!-- Hamburger menu to toggle mobile menu, hidden in desktop-->
        <div class="c-header__nav__toggle">
            <span class="material-symbols-outlined">
                menu
            </span>
        </div>
        <ul class="c-header__nav__list">
            <li class="c-header__nav__item"><a href="">About</a></li>
            <li class="c-header__nav__item"><a href="">Projects</a></li>
            <li class="c-header__nav__item"><a href="">Resume</a></li>
            <li class="c-header__nav__item"><a href="">Contact</a></li>
        </ul>
    </nav>
</header>
<section class="c-about">
    <img class="c-about__showcase-picture" src="{% static "portfolio/images/showcase_picture_1.png" %}"
         alt="Showcase Picture">
    <div class="c-about__wrapper">
        <h2>GAME DEVELOPER</h2>
        <h1>Ward Dejonckheere</h1>
        <p>
            I'm a Belgian game developer with a passion for games and technology.<br/>
            I'm currently studying Game Development at the Howest in Kortrijk, Belgium.
        </p>
    </div>

</section>

</body>
</html>

