/* Main common css file */


/* Montserrat Fonts */
/* Montserrat-Black */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Black.ttf") format('truetype');
    font-weight: 900;
    font-style: normal;
}

/* Montserrat-BlackItalic */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-BlackItalic.ttf") format('truetype');
    font-weight: 900;
    font-style: italic;
}

/* Montserrat-Bold */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}

/* Montserrat-BoldItalic */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-BoldItalic.ttf") format('truetype');
    font-weight: bold;
    font-style: italic;
}

/* Montserrat-ExtraBold */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-ExtraBold.ttf") format('truetype');
    font-weight: 800;
    font-style: normal;
}

/* Montserrat-ExtraBoldItalic */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-ExtraBoldItalic.ttf") format('truetype');
    font-weight: 800;
    font-style: italic;
}

/* Montserrat-ExtraLight */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-ExtraLight.ttf") format('truetype');
    font-weight: 200;
    font-style: normal;
}

/* Montserrat-ExtraLightItalic */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-ExtraLightItalic.ttf") format('truetype');
    font-weight: 200;
    font-style: italic;
}

/* Montserrat-Italic */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Italic.ttf") format('truetype');
    font-weight: normal;
    font-style: italic;
}

/* Montserrat-Light */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Light.ttf") format('truetype');
    font-weight: 300;
    font-style: normal;
}

/* Montserrat-LightItalic */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-LightItalic.ttf") format('truetype');
    font-weight: 300;
    font-style: italic;
}

/* Montserrat-Medium */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Medium.ttf") format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* Montserrat-MediumItalic */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-MediumItalic.ttf") format('truetype');
    font-weight: 500;
    font-style: italic;
}

/* Montserrat-Regular */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Montserrat-SemiBold */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-SemiBold.ttf") format('truetype');
    font-weight: 600;
    font-style: normal;
}

/* Montserrat-SemiBoldItalic */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-SemiBoldItalic.ttf") format('truetype');
    font-weight: 600;
    font-style: italic;
}

/* Montserrat-Thin */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-Thin.ttf") format('truetype');
    font-weight: 100;
    font-style: normal;
}

/* Montserrat-ThinItalic */
@font-face {
    font-family: "Montserrat";
    src: url("../fonts/Montserrat-ThinItalic.ttf") format('truetype');
    font-weight: 100;
    font-style: italic;
}

:root {
    --color-base-dark: #010127; /* Base colors of the site, invert for light/dark mode? */
    --color-base-light: #F6F3ED;

    --color-accent-light: #E4FF80;
    --color-accent-regular: #CAFF00;
    --color-accent-dark: #87AA00;

    --color-accent-alt: #7003FF; /* Alternative accent color */


}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: var(--color-base-light);
    background-color: var(--color-base-dark);
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    line-height: 1.2;
    margin: 0 0 1rem;
    color: var(--color-base-light);
}

a {
    color: var(--color-accent-regular);
    text-decoration: none;
}

/* Google fonts settings */
.material-symbols-outlined {
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.c-header {
    display: flex;
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: var(--color-base-dark);
    color: var(--color-base-light);
    border-bottom: 1px solid var(--color-base-light);
}

.c-header__title {
    font-size: 1rem;
    font-weight: 600;
    margin: 0;
    color: var(--color-base-light);
}

.c-header__subtitle {
    font-size: 0.75rem;
    font-weight: 400;
    margin: 4px 0 0 0;
    color: var(--color-accent-light);
}

.c-header__nav__toggle {
    display: block;
    z-index: 10;
}

.c-header__nav__item a {
    color: var(--color-base-light);
}

.c-header__nav__item.change {
    padding: 16px;
    width: 100%;
    text-align: center;
}

.c-header__nav__list {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    width: 100%
}


.c-header__nav__list.show {
    display: flex;
    justify-content: start;
    position: absolute;
    margin: auto;
    gap: 0;
    top: 81px;
    left: 0;
    right: 0;
    width: 100%;
    min-width: 100%;;
    max-width: 128px;
    height: calc(100vh - 81px);
    background-color: var(--color-base-dark);
    z-index: 0;
}

.c-section {
    max-width: 1600px;
    margin: 0 auto;
}


.c-about {
    height: calc(100vw / 1.77777777778);
    min-height: 450px;
}

.c-about__showcase-picture--item {
    margin: 0 auto;
    position: absolute;
    max-width: 100%;
    height: calc(100vw / 1.77777777778);
    min-height: 452px;
    overflow: hidden;
    z-index: -1;
    left: 0;
    min-width: 100%;
    background-size: auto 100%;
}

.c-about__showcase-picture--item .c-about__showcase-picture--wrapper:before {
    content: '';
    background-image: linear-gradient(to top, var(--color-base-dark) 0%, var(--color-base-dark) 10%, #01012700 100%);
    position: absolute;
    height: 30vw;
    min-height: 200px;
    max-height: 600px;
    z-index: 50;
    right: 0;
    bottom: 0;
    left: 0;
}

.c-about__showcase-picture--item .c-about__showcase-picture--wrapper:after {
    content: '';
    display: block;
    height: 9999px;
}

.c-about__showcase-picture--wrapper img {
    width: 100%; /* Set width to 100% fixes browser scaling issue*/
    height: auto;
    max-width: 100%;
    min-height: 450px;
    vertical-align: middle;
    border: 0;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    -ms-interpolation-mode: bicubic;
    object-fit: cover;
}

.c-about__wrapper {
    padding: 16px;
}

.c-about h1 {
    font-size: 1.75rem;
    font-weight: 600;
    margin: 0 0 1rem;
    color: var(--color-base-light);
}

.c-about h2 {
    font-size: 0.75rem;
    font-weight: 600;
    margin: 0 0 4px;
    color: #969697;
}

.c-about p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0 0 1rem;
    color: var(--color-base-light);
    max-width: 384px;
}

.c-slideshow img {
    position: absolute;
}


.c-slideshow img:nth-of-type(1) {
    animation-name: fader;
    animation-delay: 4s;
    animation-duration: 1s;
    z-index: 20;
}

.c-slideshow img:nth-of-type(2) {
    z-index: 10;
}

.c-slideshow img:nth-of-type(n+3) {
    display: none;
}

@keyframes fader {
    from {
        opacity: 1.0;
    }
    to {
        opacity: 0.0;
    }
}

.c-overview {
    margin-top: 16px;
    padding: 16px;
}

.c-overview__title {
    border-bottom: 1px solid var(--color-base-light);
}

.c-overview__title h1 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0 0 1rem;
    color: var(--color-base-light);
}

.c-overview__project--item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0 64px 0;
    padding: 16px;
    border-radius: 4px;
    background-color: var(--color-base-dark);
    color: var(--color-base-light);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.c-overview__project--title {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0 0 1rem;
    color: var(--color-base-light);
}

.c-overview__project--wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
}

.c-overview__project--description {
    flex-grow: 1;
    max-width: 800px;
    padding: 8px;
}

.c-overview__project--description h1 {
    font-size: 1.75rem;
    font-weight: 600;
    margin: 0 0 1rem;
    color: var(--color-base-light);
}

.c-overview__project--description p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0 0 2rem;
    color: var(--color-base-light);
}

.c-project-link--button {
    padding: 12px 24px;
    border: 2px solid var(--color-accent-regular);
    border-radius: 16px;
    margin: 0 0 1rem;

    background-color: var(--color-base-dark);
    color: var(--color-base-light);
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

.c-overview__project--img img {
    width: 100%;
    height: auto;
    max-width: 800px;
    vertical-align: middle;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 32px;
}

.c-about-page {
    max-width: 1024px;
    margin: 16px auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    padding: 32px;
    background-color: var(--color-base-dark);
    color: var(--color-base-light);
}

.c-about-page h1 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0 0 1rem;
    color: var(--color-base-light);
}

.c-about-page__wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.c-about-page__wrapper img {
    width: 96px;
    height: 96px;
    max-width: 96px;
    max-height: 96px;
    object-fit: cover;
    vertical-align: middle;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

.c-about-page__wrapper p {
    flex-grow: 1;
    flex-basis: 0;
}

.c-about-page h2 {
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0 0 1rem;
    color: var(--color-base-light);
}

.c-about-page p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0 0 3rem;
    color: var(--color-base-light);
}

.c-about-page ul {
    font-size: 1rem;
    font-weight: 400;
    margin: 0 0 3rem;
    color: var(--color-base-light);
}

.c-project-page {
    max-width: 1024px;
    margin: 16px auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    padding: 32px;
    background-color: var(--color-base-dark);
    color: var(--color-base-light);
}

.c-project-page__header h1 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0 0 1rem;
    color: var(--color-base-light);
}

.c-project-page__header p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0 0 1rem;
    color: var(--color-base-light);
}

.c-project-page__content {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    gap: 16px;
}

.c-project-page__text {
    flex-grow: 1;
    flex-basis: 0;
}

.c-project-page__text p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0 0 1rem;
    color: var(--color-base-light);
}

.c-project-page__image {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    gap: 16px;
    width: 100%;
    margin-bottom: 32px;
}

.c-project-page__image img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 32px;
}

.c-project-page__youtube-video {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    gap: 16px;
    height: 0;
    padding-bottom: 56.25%;
    margin-bottom: 16px;
}

.c-project-page__youtube-video iframe {
    border: 0;
    border-radius: 32px;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
}

.c-contact {
    max-width: 1024px;
    margin: 16px auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    padding: 32px;
    background-color: var(--color-base-dark);
    color: var(--color-base-light);
}

.c-contact h1 {
    font-size: 2rem;
    font-weight: 600;
    margin: 0 0 1rem;
    color: var(--color-base-light);
}

.c-contact p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0 0 1rem;
    color: var(--color-base-light);
}

.c-contact p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0 0 1rem;
    color: var(--color-base-light);
}

.c-socials {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
    margin: 0 0 32px;
}

.c-socials__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    max-width: 32px;
    max-height: 32px;
    object-fit: cover;
    vertical-align: middle;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 50%;
}

.c-socials__icon:hover {
    transform: scale(1.1);
}

.u-invisible {
    visibility: hidden;
}

.u-fill-available {
    width: 100%;
    height: 100%;
}

/* Media queries to adjust for mobile/desktop style changing */
@media screen and (min-width: 768px) {

    .c-header__nav__toggle {
        display: none;
    }

    .c-header__nav__list {
        position: relative;
        display: flex;
        flex-direction: row;
    }


    .c-about__wrapper {
        padding: 32px;
    }

    .c-about h1 {
        font-size: 3.5rem;
    }

    .c-about h2 {
        font-size: 1.75rem;
    }

    .c-about p {
        font-size: 1.5rem;
        max-width: 640px;
    }

}


@media screen and (min-width: 1600px) {
    .c-overview__project--description {
        flex-grow: 1;
        max-width: 680px;
        padding: 8px;
    }
}







