
<header class="c-header">
    <a href="/">
        <h1 class="c-header__title">Ward Dejonckheere</h1>
        <h2 class="c-header__subtitle">Gameplay Programmer</h2>
    </a>
    <nav>
        <!-- Hamburger menu to toggle mobile menu, hidden in desktop-->
        <div class="c-header__nav__toggle">
            <span class="material-symbols-outlined">
                menu
            </span>
        </div>
        <ul class="c-header__nav__list">
            <li class="c-header__nav__item"><a href="index.html">Home</a></li>
            <li class="c-header__nav__item"><a href="about.html">About</a></li>
            <li class="c-header__nav__item"><a href="contact.html">Contact</a></li>
            <li class="c-header__nav__item"><a href="../static/portfolio/downloads/Ward_Dejonckheere_Resume.pdf"
                                               target="_blank">Resume</a></li>
            <li class="c-header__nav__item"><a href="index.html#my-projects">Projects</a></li>
        </ul>
    </nav>
</header>