{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include "portfolio/snippets/common_head.html" %}
    <title>Graphics Programming 2 - Portal Clone</title>
</head>
<body>
{% include "portfolio/snippets/header.html" %}
<section class="c-project-page">
    <div class="c-project-page__header">
        <h1 class="c-project-page__title">GP2 Portal Clone</h1>
        <p class="c-project-page__subtitle">A portal clone focused on the graphics / portal shader in c++ & HLSL</p>
    </div>
    <div class="c-project-page__content">
        <div class="c-project-page__text">
            <p>
                This project was made for the course Graphics Programming 21 at Howest DAE. I chose to make a portal
                clone because I wanted to learn more about the portal shader and how it works. The result isn't perfect
                as I
                struggled with getting the 'reflection' / see through direction 100% correct.
                The overlord engine (engine provided by teacher) was used for this project.
            </p>
            <p>
                Source code can be downloaded <a
                    href="{% static "portfolio/downloads/GP2_PortalClone_Ward_Dejonckheere.zip" %}">HERE</a>
            </p>
        </div>

        <div class="c-project-page__youtube-video">
            <iframe width="1920" height="1080" src="https://youtube.com/embed/aF9rZvALeBM">
            </iframe>
        </div>
        <div class="c-project-page__image">
            <img src="{% static 'portfolio/images/GP2_PortalClone/menu.webp' %}" alt="Main menu">
        </div>
        <div class="c-project-page__image">
            <img src="{% static 'portfolio/images/GP2_PortalClone/portalview.webp' %}" alt="A Portal">
        </div>
        <div class="c-project-page__image">
            <img src="{% static 'portfolio/images/GP2_PortalClone/pausemenu.webp' %}" alt="Pause menu">
        </div>
    </div>
</section>
</body>
</html>